.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f8e6;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.logo-section {
  text-align: center;
}

.logo {
  width: 100px;
}

h1 {
  font-size: 24px;
  color: #065d36;
  margin-bottom: 20px;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #065d36;
  margin-bottom: 5px;
}

input, select {
  padding: 10px;
  border: 1px solid #b8e0c2;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.signup-button {
  background-color: #065d36;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #044c2b;
}

.login-text {
  margin-top: 10px;
  font-size: 14px;
}

.login-link {
  color: #065d36;
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
